<nav class="navbar navbar-expand-lg navbar-dark" style="margin-left: 100px; margin-right: 100px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ Projectname }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{ if session}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                    </a>
                    <ul class="dropdown-menu">
                      {{ profiles }}
                    </ul>
                  </li>
                {{ endif }}
                {{ if session}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/settings">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                {{ endif }}
                {{ if snow }}
                <li class="nav-item">
                    <link rel="stylesheet" href="http://CookieCMS Open.local/template/css/snow.css">
                    <script src="http://CookieCMS Open.local/template/js/snow.js"></script>
                </li>
                {{ endif }}
            </ul>
        </div>
    </div>
</nav>
